<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- 注入方式：两种 -->
	<bean id="injectService"
		class="com.hxy.spring_base_ioc_study.demo2.serviceImpl.InjectServiceImpl">
		<property name="injectDao" ref="injectDao"></property><!-- 设值注入 -->
		<!-- <constructor-arg name="injectDao" ref="injectDao"></constructor-arg> 
			构造注入 -->
	</bean>

	<bean id="injectDao"
		class="com.hxy.spring_base_ioc_study.demo2.daoImpl.InjectDaoImpl"></bean>

</beans>